<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.evan.common_utils_demo">

    <application android:name=".MyApplication" android:allowBackup="true" android:icon="@mipmap/logo"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.TestActivity"/>
        <activity android:name=".ui.activity.AboutActivity"/>
        <activity android:name=".ui.activity.collectionActivity.ArrayListActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.LinkedListActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.HashSetActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.LinkedHashSetActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.TreeSetActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.HashMapActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.LinkedHashMapActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.TreeMapActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.SparseArrayActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.collectionActivity.ArrayMapActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithViewActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithViewGroupActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithListViewActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithGridViewActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithRecyclerViewActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithViewPagerActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithScrollViewActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithClassicIndicatorActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithClassicProIndicatorActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithGifIndicatorActivity"/>
        <activity android:name=".ui.activity.ptrActivity.PtrWithLargeImageIndicatorActivity"/>
        <activity android:name=".ui.activity.mediaControllerActivity.CommonMediaControllerActivity"/>
        <activity android:name=".ui.activity.slideExitActivity.SlideExitDemoActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
        <activity android:name=".ui.activity.slideExitActivity.MultiNestingDemoActivity" android:theme="@style/AppCompatLightNoActionBarTransparentActivity"/>
    </application>

</manifest>